<!DOCTYPE html>
<!-- Disable compatibility view to properly support the website in IE11 -->
<meta http-equiv="X-UA-Compatible" content="IE=11" />
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <div id="wrapper">
            <div id="pageheader" class="rabo-drop-shadow">
                <div id="logo"></div>
                <div id="header-center">
                    <ul id="headermenu">
                        <li>@Html.ActionLink("Shoutbox", "Index", "Main")</li>
                        <li>@Html.ActionLink("Historie", "Historie", "Main")</li>
                        <li><a href="http://servicedesk.rabobank.nl/sm9KM">Uitwijk Delphi SDA</a></li>
                        @{if (ViewBag.Title == "Shoutbox")
                            {
                                //Only show settings on the shoutbox page
                                <li><a id="notificationsettings">Instellingen</a></li>
                            }
                        }
                    </ul>
                    <span id="department">Cross Channel Servicedesk Europe</span>
                </div>
            </div>
            <div id="topnav" class="rabo-drop-shadow">
                <span><i class="@ViewBag.Icon" aria-hidden="true"></i> @ViewBag.Title</span>
            </div>

            <div class="container body-content" id="body-container">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        $("a:contains('@ViewBag.Title')").addClass("selectedMenuItem");
    </script>
</body>
</html>
