@{
    ViewBag.Title = "Historie";
    ViewBag.Icon = "fa fa-history";
}

@model Shoutbox.NET.ViewModels.ShoutPageViewModel

<link href="~/Content/Chat.css" rel="stylesheet" />
<link href="~/Content/Shoutbox.css" rel="stylesheet" />
<link href="~/Content/tagcloud.css" rel="stylesheet" />
<link href="~/Content/Team.css" rel="stylesheet" />
<link href="~/Content/Masterincidents.css" rel="stylesheet" />
<link href="~/Content/tooltipster.bundle.min.css" rel="stylesheet" />
<link href="~/Content/datepicker.min.css" rel="stylesheet" />
<link href="~/Content/historytimemachine.css" rel="stylesheet" />

<!-- Unsorted plugins -->
<script src="~/Scripts/jquery.timeago.js"></script>
<script src="~/Scripts/jquery.timeago.nl.js"></script>
<script src="~/Scripts/jquery.tagcloud.js"></script>
<script src="~/Scripts/datepicker.min.js"></script>


<!-- Scripts for each individual tile type -->
<script src="~/Scripts/chattile.js"></script>
<script src="~/Scripts/tagcloud.js"></script>
<script src="~/Scripts/team.js"></script>
<script src="~/Scripts/masterincidents.js"></script>
<script src="~/Scripts/Preload.js"></script>

<!-- Begin tile grid -->
<div class="grid-stack">
    <!-- Begin Time selector tile -->
    <div class="grid-stack-item Team-tile" data-gs-x="0" data-gs-y="0"
         data-gs-width="3" data-gs-height="1" data-gs-no-resize="true">
        <div class="tile-titlebar">Tijd machine</div>
        <div class="grid-stack-item-content rabo-drop-shadow">

            <div class="input-group timemachine">
                <input type="text" class="form-control datepicker" name="date" placeholder="@Model.HistoryViewDate.ToString("dd-MM-yyyy")">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" onclick="browsehistory()"">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                </span>
            </div>

            <script>
                $(".datepicker").datepicker({
                    format: 'dd-mm-yyyy',
                    startDate: new Date(2017, 3, 1),
                    endDate: new Date().getDate(),
                });

                var browsehistory = function () {
                    var chosenDate = $(".datepicker").datepicker('getDate', true);
                    var historyUrl = '@Url.Action("Historie", "Main", new { date = "_date_" })';
                    window.location.href = historyUrl.replace('_date_', chosenDate);
                }

            </script>
        </div>
    </div>
    <!-- End Time selector tile -->

    <!-- Begin Team tile -->
    <div class="grid-stack-item Team-tile" data-gs-x="0" data-gs-y="02"
         data-gs-width="3" data-gs-height="2" data-gs-min-width="3" data-gs-min-height="2">
        <div class="tile-titlebar">Team van de dag</div>
        <div class="grid-stack-item-content rabo-drop-shadow" id="Team-window">
            <table class="table">
                <thead>
                    <tr>
                        <th>Functie</th>
                        <th>Naam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vraagbaak</td>
                        <td id="Vraagbaak"></td>
                    </tr>
                    <tr>
                        <td>WFM</td>
                        <td id="WFM"></td>
                    </tr>
                    <tr>
                        <td>Teamlead</td>
                        <td id="Teamlead"></td>
                    </tr>
                    <tr>
                        <td>MCS</td>
                        <td id="MCS"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Team tile -->
    <!-- Begin Master Incident tile -->
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="6"
         data-gs-width="3" data-gs-height="4" data-gs-min-width="3" data-gs-min-height="2">
        <div class="tile-titlebar">Master Incidenten</div>
        <div class="grid-stack-item-content rabo-drop-shadow master-incident-window">
            <div class="incident-container">
                <input type="hidden" value="0" id="incident-counter" />
                <!-- Begin incidents -->
                <div class="incident-filler">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <p>Geen master incidenten geplaatst</p>
                </div>
                <!-- End incidents -->
            </div>
        </div>
    </div>
    <!-- End Master Incident tile -->

    <!-- Begin Announcement Tile-->
    <div class="grid-stack-item"
         data-gs-x="3" data-gs-y="0"
         data-gs-width="4" data-gs-height="9" data-gs-min-width="3" data-gs-min-height="4">

        <div class="tile-titlebar">Meldingen</div>
        <div class="grid-stack-item-content rabo-drop-shadow">
            <!-- Announcement Container -->
            <div id="announcement-window">
                <div class="chat-filler">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i> <br />
                    <p>Er zijn nog geen omroepen geplaatst...</p>
                </div>
                <div class="message-container">
                    <input class="message-counter" type="hidden" value="0" />
                    <!-- Begin messages -->
                    <!-- End messages -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Announcement Tile-->
    <!-- Begin Chat Tile-->
    <div class="grid-stack-item"
         data-gs-x="7" data-gs-y="0"
         data-gs-width="5" data-gs-height="9" data-gs-min-width="3" data-gs-min-height="4">
        <div class="tile-titlebar">Chat</div>
        <div class="grid-stack-item-content rabo-drop-shadow">
            <!-- Chat Container -->
            <div id="chat-window">
                <div class="chat-filler">
                    <i class="fa fa-comment-o" aria-hidden="true"></i> <br />
                    <p>Er zijn nog geen berichten geplaatst...</p>
                </div>
                <div class="message-container">
                    <input class="message-counter" type="hidden" value="0" />
                    <!-- Begin messages -->
                    <!-- End messages -->
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Trending topics tile -->
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="8"
         data-gs-width="3" data-gs-height="2" data-gs-min-height="1" data-gs-min-width="1">
        <div class="tile-titlebar">Trending topics</div>
        <div class="grid-stack-item-content rabo-drop-shadow tag-cloud-tile" id="tagcloud">
            <!-- Begin tags-->
            @if (Model.Tags.Count == 0)
            {
                <div class="tagcloud-filler">
                    <p>Er is niks getagd</p>
                </div>
            }
            else
            {
                foreach (KeyValuePair<string, int> tag in Model.Tags)
                {
                    string uppercaseFirst = char.ToUpper(tag.Key[0]) + tag.Key.Substring(1).ToLower();
                    <a href="~/Tag/@uppercaseFirst" rel="@tag.Value" title="@tag.Value tags">#@tag.Key</a>
                }
            }
            <!-- End tags-->
        </div>
    </div>


</div>
<div class="preloader"></div>


<script>
    //In the history view no one has administrative privileges
    userRole = "User";
   //Load all messages, teams, tags and incidents
    addMessages(@Html.Raw(Model.SerializedMessages), true);
    updateTeams(@Html.Raw(Model.SerializedTeams));
    addMasterIncidents(@Html.Raw(Model.SerializedMasterIncidents));

    //Set up the tag cloud
    initializeTagCloud();
</script>