@{
    ViewBag.Title = "Shoutbox";
    ViewBag.Icon = "fa fa-bullhorn";
}

@model Shoutbox.NET.ViewModels.ShoutPageViewModel


@Scripts.Render("~/signalr/hubs")





<!-- Begin tile grid -->
<div class="grid-stack">
    <!-- Begin Team tile -->
    <div class="grid-stack-item Team-tile" data-gs-x="0" data-gs-y="0"
         data-gs-width="3" data-gs-height="2" data-gs-min-width="2" data-gs-min-height="2" id="grid-team-item">
        <div class="tile-titlebar">Team van de dag</div>
        <div class="grid-stack-item-content rabo-drop-shadow" id="Team-window">
            <table class="table">
                <thead>
                    <tr>
                        <th>Functie</th>
                        <th>Naam</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Vraagbaak</td>
                        <td id="Vraagbaak"></td>
                        <td><i class="fa fa-pencil edit-function-icon" aria-hidden="true" onclick="editTeam('Vraagbaak')"></i></td>
                    </tr>
                    <tr>
                        <td>WFM</td>
                        <td id="WFM"></td>
                        <td><i class="fa fa-pencil edit-function-icon" aria-hidden="true" onclick="editTeam('WFM')"></i></td>
                    </tr>
                    <tr>
                        <td>Teamlead</td>
                        <td id="Teamlead"></td>
                        <td><i class="fa fa-pencil edit-function-icon" aria-hidden="true" onclick="editTeam('Teamlead')"></i></td>
                    </tr>
                    <tr>
                        <td>MCS</td>
                        <td id="MCS"></td>
                        <td><i class="fa fa-pencil edit-function-icon" aria-hidden="true" onclick="editTeam('MCS')"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Team tile -->

    <!-- Begin Master Incident tile -->
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="6"
         data-gs-width="3" data-gs-height="5" data-gs-min-width="3" data-gs-min-height="3" id="grid-incident-item">
        <div class="tile-titlebar">Master Incidenten</div>
            <div class="grid-stack-item-content rabo-drop-shadow master-incident-window">
                <div class="incident-container">
                    <input type="hidden" value="0" id="incident-counter"/>
                    <!-- Begin incidents -->
                    <div class="incident-filler">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Geen master incidenten geplaatst</p>
                    </div>
                    <!-- End incidents -->
                </div>
                
                @{
                    if (Model.CurrentUser.Role > 0)
                    {
                        <div id="add-incident-button-container">
                            <button type="button" class="btn btn-default" id="add-incident-button" onclick="createMasterIncident()">
                                Toevoegen
                            </button>
                        </div>
                    }
                }
        </div>
    </div>
    <!-- End Master Incident tile -->

    <!-- Begin SOS monitor tile -->
    <div class="grid-stack-item" data-gs-x="0" data-gs-y="7"
         data-gs-width="3" data-gs-height="2" data-gs-min-height="2" data-gs-min-width="1" id="grid-sos-item">
        <div class="tile-titlebar">SOS Meldingen</div>
        <div class="grid-stack-item-content rabo-drop-shadow SOS-Container">
            <table class="table invisible" id="sos-table">
                <thead>
                    <tr>
                        <th>Applicatie</th>
                        <th>Laatste update</th>
                    </tr>
                </thead>
                <tbody id="SOS-table-body">
                    <!--Begin SOS applications-->
                    <!--End SOS applications-->
                </tbody>
            </table>

            <div id="sos-filler">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    <p>Geen SOS meldingen bekend</p>
            </div>

        </div>
    </div>
    <!-- End SOS monitor tile -->

    <!-- Begin Announcement Tile-->
    <div class="grid-stack-item"
         data-gs-x="3" data-gs-y="0"
         data-gs-width="4" data-gs-height="9" data-gs-min-width="3" data-gs-min-height="4" id="grid-announcement-item">

        <div class="tile-titlebar">Meldingen</div>
        <div class="grid-stack-item-content rabo-drop-shadow">
            <!-- Announcement Container -->
            <div id="announcement-window">
                <div class="chat-filler">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i> <br />
                    <p>Er zijn nog geen omroepen geplaatst...</p>
                </div>
                <div class="message-container">
                    <input class="message-counter" type="hidden" value="0" />
                    <!-- Begin messages -->
                    <!-- End messages -->
                </div>

                <div class="textbox-wrapper">
                    <div class="input-group input-group-sm text-input">
                        <span class="input-group-addon tag-display"></span>                                                  <!--This textbox sends Announcement messages -->
                        <input type="text" id="announcement-textbox" class="form-control" placeholder="Melding..." aria-describedby="sizing-addon3" onkeyup="$(this).ProcessInput(event, 'Announcement')"
                        title="Post als volgt: Applicatie, inhoud verstoring, KM/IM-nr, hoeveel gebruikers/meldingen.">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Announcement Tile-->
    <!-- Begin Chat Tile-->
    <div class="grid-stack-item"
         data-gs-x="7" data-gs-y="0"
         data-gs-width="5" data-gs-height="7" data-gs-min-width="3" data-gs-min-height="4" id="grid-chat-item">
        <div class="tile-titlebar">Chat</div>
        <div class="grid-stack-item-content rabo-drop-shadow">
            <!-- Chat Container -->
            <div id="chat-window">
                <div class="chat-filler">
                    <i class="fa fa-comment-o" aria-hidden="true"></i> <br />
                    <p>Er zijn nog geen berichten geplaatst...</p>
                </div>
                <div class="message-container">
                    <input class="message-counter" type="hidden" value="0" />
                    <!-- Begin messages -->
                    <!-- End messages -->
                </div>
                <div class="textbox-wrapper">
                    <div class="input-group input-group-sm text-input">
                        <span class="input-group-addon tag-display"></span>                                                     <!--This textbox sends Chat messages -->
                        <input type="text" class="form-control" placeholder="Bericht..." aria-describedby="sizing-addon3" onkeyup="$(this).ProcessInput(event, 'Chat')">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Trending topics tile -->
    <div class="grid-stack-item" data-gs-x="7" data-gs-y="7"
         data-gs-width="3" data-gs-height="2" data-gs-min-height="1" data-gs-min-width="1" id="grid-tagcloud-item">
        <div class="tile-titlebar">Trending topics</div>
        <div class="grid-stack-item-content rabo-drop-shadow tag-cloud-tile" id="tagcloud">
            <!-- Begin tags-->
            @if (Model.Tags.Count == 0)
            {
                <div class="tagcloud-filler">
                    <p>Er is nog niks getagd</p>
                </div>
            }
            else
            {
                foreach (KeyValuePair<string, int> tag in Model.Tags)
                {
                    string uppercaseFirst = char.ToUpper(tag.Key[0]) + tag.Key.Substring(1).ToLower();
                    <a href="~/Tag/@uppercaseFirst" rel="@tag.Value" title="@tag.Value tags">#@tag.Key</a>
                }
            }
            <!-- End tags-->
        </div>
    </div>
    <!-- End TagCloud tile -->

    <!-- Begin service monitor tile -->
    <!-- Discontinued ;_; -->
    @*<div class="grid-stack-item" data-gs-no-resize="true" data-gs-x="5" data-gs-y="6"
         data-gs-width="3" data-gs-height="1">
        <div class="tile-titlebar">Service monitor</div>
        <div class="grid-stack-item-content rabo-drop-shadow sst-status-tile">
            <table class="table">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>SM9</td>
                        <td id="SM9"></td>
                    </tr>
                    <tr>
                        <td>EasyVista</td>
                        <td id="EasyVista"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>*@
    <!-- End SST status tile -->

    <!-- Begin top KM tile -->
    <div class="grid-stack-item" data-gs-x="10" data-gs-y="7"
         data-gs-width="2" data-gs-height="2" id="grid-km-item" data-gs-min-width="2" data-gs-max-height="2">
        <div class="tile-titlebar">TOP KM's</div>
        <div class="grid-stack-item-content rabo-drop-shadow KM-Container">
            <table class="table" id="km-table">
                <thead>
                </thead>
                <tbody id="KM-table-body">
                    <!--Begin KMs-->
                    <!--End KMs -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- End top KM tile -->


</div>


<script>
    userRole = "@Model.CurrentUser.Role";


    //If the browser supports notifications. TODO: Add ability to turn notifications on/off per message type
    if (("Notification" in window)) {
        Notification.requestPermission();
    }

    function spawnNotification(theTitle, theBody) {
        if (!("Notification" in window)) return;
        if (!document.hidden) return; //Only display notifications if the window isn't focused
        var options = {
            body: htmlDecode(theBody), //Allow special characters in notifications as this does not execute scripts
            icon: "Content/Images/Shoutbox-bullhorn.png",
            requireInteraction: false
        }
        var n = new Notification(theTitle, options);

        //Autohide notification after 3 seconds
        setTimeout(n.close.bind(n), 3000);

        n.onclick = function () {
            parent.focus();
            window.focus(); //just in case, older browsers
            this.close(); //Closes the notification
        }
    }


    var sendMessage;
    var sendEditTeam;
    var sendCreateMasterIncident;
    var sendRemoveMasterIncident;
    var sendUpdatedGridLayout;
    var sendUpdatedNotificationsettings;

// Reference the auto-generated proxy for the hub.
    var shout = $.connection.shoutHub;
// Start the connection.
    $.connection.hub.start({
        transport: ['serverSentEvents', 'webSockets', 'longPolling']
        }).done(function () {

        $.connection.hub.logging = true;

        $.connection.hub.error(function (error) {
            alert(error);
                });

        $.connection.hub.stateChanged(function (change) {
            if (change.newState === $.signalR.connectionState.disconnected) {
                swal({
                    title: 'Verbinding verbroken',
                    text: 'Informatie zal niet live gewijzigd worden, herlaad de pagina om de verbinding te herstellen.',
                    type: 'error'
                });
            }
        });

//Check if the connecting user exists in our database, if not register
//shout.server.registerIfNotRegistered();

    sendMessage = function (tag, text, type) {
                    shout.server.broadcastChatMessage(tag, text, type)
    }

                //Tell the server to change a Team
                sendEditTeam = function (functie, naam) {
                    return shout.server.setTeam(functie, naam);
                }

                //Tell the server to create a Master incident
                sendCreateMasterIncident = function (description, km, im) {
                    return shout.server.createMasterIncident(description, km, im);
                }
                //Tell the server to disable a master incident
                sendRemoveMasterIncident = function (id) {
                    shout.server.disableMasterIncident(id);
                }
                //Tell the server to sendUpdatedGridLayout a master incident
                sendUpdatedGridLayout = function (serializedLayout) {
                    shout.server.saveGridLayout(serializedLayout);
                }
                //Tell the server to sendUpdatedGridLayout a master incident
                sendUpdatedNotificationsettings = function (serializedSettings) {
                    shout.server.saveNotificationSettings(serializedSettings);
                }
});

// EVENT: Fired when receiving a command to update the Team tile
    shout.client.updateTeam = function (functie, naam, changer) {
        updateTeam(functie, naam, changer);
        if (notificationSettings["Team"]) {
            spawnNotification("Shoutbox", changer + ": " + functie + " van de dag is " + naam);
        }
    }

// EVENT: Fired when receiving a command to add a new masterIncident
    shout.client.addMasterIncident = function (id, description, km, im, time) {
        addMasterIncident(id, description, km, im, time);
        if (notificationSettings["Masterincidenten"]) {
            spawnNotification("Shoutbox", "Nieuw master incident: " + description);
        }
    }

// EVENT: Fired when receiving a command to update the SOS overview
    shout.client.updateSOS = function (SOSList) {
        if (notificationSettings["Sos"]) {
            updateSOS(JSON.parse(SOSList));
        }
    }

// EVENT: Fired when receiving a command to remove a MasterIncident
    shout.client.deleteMasterIncident = function (id) {
        deleteMasterIncident(id);
    }



// EVENT: Fired when receiving a chat message from the server
    shout.client.receiveChatMessage = function (name, division, time, tag, text, type) {
        //Add message to the appropriate tile depending on the message type
        if (type == "Chat") {
            $("#chat-window").AddMessage(name, division, time, tag, text, true);
            if (notificationSettings["Chat"]) {
                spawnNotification("Shoutbox", name + ": " + tag + " " + text);
            }
        } else if (type == "Announcement") {
            $("#announcement-window").AddMessage(name, division, time, tag, text, true);
            if (notificationSettings["Meldingen"]) {
                spawnNotification("Shoutbox", name + ": #" + tag + " " + text);
            }
        }
        updateTagCloud(tag); //Update tags real time
    };

    function htmlEncode(value) {
        var encodedValue = $('<div />').textContent(value);
        return encodedValue;
    }

    function htmlDecode(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }

   //Load all messages, teams, tags and incidents
    addMessages(@Html.Raw(Model.SerializedMessages), true);
    updateTeams(@Html.Raw(Model.SerializedTeams));
    addMasterIncidents(@Html.Raw(Model.SerializedMasterIncidents));
    updateSOS(@Html.Raw(Model.SerializedSOS));
    updateKM(@Html.Raw(Model.SerializedKMList));

    //Set up the tag cloud
    initializeTagCloud();


    $('#announcement-textbox').tooltipster({
        animation: 'grow',
        trigger: 'click',
        position: 'bottom'
    });

    //If user has custom layout stored, use that instead
    if("@Model.CurrentUser.GridLayout" != "")
        loadGridLayout(@Html.Raw(@Model.CurrentUser.GridLayout));

    $(document).ready(function () {
        $("abbr.timeago").timeago();
        notificationSettings = JSON.parse('@Html.Raw(Model.CurrentUser.NotificationSettings)')
    });
</script>