@model Shoutbox.NET.ViewModels.ShoutPageViewModel
@{
    ViewBag.Title = "Status Monitor";
    ViewBag.Icon = "fa fa-heartbeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/sststatus.js"></script>
<script src="~/Scripts/Chart.bundle.min.js"></script>
<link href="~/Content/Sststatus.css" rel="stylesheet" />


<script>
    setServiceStatus("SM9");
    setServiceStatus("EasyVista");

    $(document).ready(function () {
        var dailyUsageBar = document.getElementById("dailyUsageBarChart");
        var weeklyUsageLine = document.getElementById("weeklyUsageLineChart");
        var mostPopularTags = document.getElementById("mostPopularTagsChart");
        

        var dailyUsageData = {
            datasets: [{
                data: [
                    @Model.DataDistribution.UsagePerTypeToday.Item1,
                    @Model.DataDistribution.UsagePerTypeToday.Item3,
                    @Model.DataDistribution.UsagePerTypeToday.Item2
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
            }],
            borderWidth: 10,
            labels: [
                "Master Incidenten",
                "Chat berichten",
                "Meldingen"
            ]
        };

        var mostPopularTagsData = {
            datasets: [{
                data: [
                    @{
                        foreach(Shoutbox.NET.Models.Tag tag in Model.DataDistribution.MostPopularTags.Take(15))
                        {
                            <text>@tag.Count,</text>
                        }
                    }
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.3)',
                    'rgba(54, 162, 235, 0.3)',
                    'rgba(75, 192, 192, 0.3)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                ],
            }],
            borderWidth: 10,
            labels: [
                @{
                    foreach(Shoutbox.NET.Models.Tag tag in Model.DataDistribution.MostPopularTags.Take(15))
                    {
                        <text>"@tag.Name",</text>
                    }
                }
            ]
        };

        var weeklyUsageData = {
            datasets: [{
                label: "Master Incidenten",
                fill: true,
                backgroundColor: 'rgba(255, 99, 132, 0.3)',
                fixedStepSize: 1,

                data: [
                    @Model.DataDistribution.AverageMasterIncident.Monday,
                    @Model.DataDistribution.AverageMasterIncident.Tuesday,
                    @Model.DataDistribution.AverageMasterIncident.Wednesday,
                    @Model.DataDistribution.AverageMasterIncident.Thursday,
                    @Model.DataDistribution.AverageMasterIncident.Friday,
                    @Model.DataDistribution.AverageMasterIncident.Saturday,
                    @Model.DataDistribution.AverageMasterIncident.Sunday,
                ],
            },
            {
                label: "Meldingen",
                fill: true,
                backgroundColor: 'rgba(54, 162, 235, 0.3)',
                data: [
                    @Model.DataDistribution.AverageAnnouncementMessages.Monday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Tuesday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Wednesday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Thursday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Friday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Saturday,
                    @Model.DataDistribution.AverageAnnouncementMessages.Sunday,
                ],
                },
            {
                label: "Chat berichten",
                fill: true,
                backgroundColor: 'rgba(75, 192, 192, 0.3)',
                data: [
                    @Model.DataDistribution.AverageChatMessages.Monday,
                    @Model.DataDistribution.AverageChatMessages.Tuesday,
                    @Model.DataDistribution.AverageChatMessages.Wednesday,
                    @Model.DataDistribution.AverageChatMessages.Thursday,
                    @Model.DataDistribution.AverageChatMessages.Friday,
                    @Model.DataDistribution.AverageChatMessages.Saturday,
                    @Model.DataDistribution.AverageChatMessages.Sunday,
                ],
            }],
            borderWidth: 10,
            labels: [
                "Maandag",
                "Dinsdag",
                "Woensdag",
                "Donderdag",
                "Vrijdag",
                "Zaterdag",
                "Zondag"
            ]
        };

        var myBarChart = new Chart(dailyUsageBar, {
            type: 'bar',
            data: dailyUsageData,
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });

        var myBarChart2 = new Chart(mostPopularTags, {
            type: 'bar',
            data: mostPopularTagsData,
            options: {
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                        }
                    }],
                },
                legend: {
                    display: false
                }
            }
        });

        //Line chart
        var myLineChart = new Chart(weeklyUsageLine, {
            type: 'line',
            data: weeklyUsageData,
            options: {
                maintainAspectRatio: false,
            }
        });
    });
</script>

<div class="grid-stack">

    <div class="grid-stack-item" data-gs-x="0" data-gs-y="0"
         data-gs-width="6" data-gs-height="5" id="grid-km-item">
        <div class="tile-titlebar">Gemiddeld gebruik per dag</div>
        <div class="grid-stack-item-content rabo-drop-shadow">
            <canvas id="weeklyUsageLineChart" style="margin-top:10px"></canvas>
        </div>
    </div>

<div class="grid-stack-item" data-gs-x="6" data-gs-y="0"
        data-gs-width="3" data-gs-height="7" id="grid-km-item">
    <div class="tile-titlebar">Gebruik vandaag</div>
    <div class="grid-stack-item-content rabo-drop-shadow">
        <canvas id="dailyUsageBarChart" style="margin-top:10px"></canvas>
    </div>
</div>

    <div class="grid-stack-item" data-gs-x="9" data-gs-y="0"
        data-gs-width="3" data-gs-height="7" id="grid-km-item">
    <div class="tile-titlebar">Meest prominente onderwerpen</div>
    <div class="grid-stack-item-content rabo-drop-shadow">
        <canvas id="mostPopularTagsChart" style="margin-top:10px"></canvas>
    </div>
</div>

<div class="grid-stack-item" data-gs-x="0" data-gs-y="5"
        data-gs-width="4" data-gs-height="2" id="grid-km-item" data-gs-min-width="" data-gs-max-height="5">
    <div class="grid-stack-item-content rabo-drop-shadow sst-status-tile">
        <div class="tile-titlebar">SST Status</div>
        <table class="table">
            <thead>
                <tr>
                    <th>Service</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Service Manager 9 <br />SST formulieren</td>
                    <td id="SM9"></td>
                </tr>
                <tr>
                    <td>EasyVista <br /> SST formulieren</td>
                    <td id="EasyVista"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div class="grid-stack-item" data-gs-x="4" data-gs-y="5"
         data-gs-width="2" data-gs-height="2" id="grid-km-item">
        <div class="grid-stack-item-content rabo-drop-shadow">
            <div class="tile-titlebar">Gebruikers online</div>
            <center>
                <i class="fa fa-users" aria-hidden="true" style="font-size:60px; margin-top:30px">
                <span style="font-size:40px; font-weight: bold; margin-left:20px;">@Model.DataDistribution.OnlineUsers</span></i>
            </center>
        </div>
    </div>

</div>
